<div>
    <div horizontal layout center>
        <paper-checkbox {{ bind-attr checked=model.checked }}></paper-checkbox>
        <paper-input {{ bind-attr label=model.indexTitle value=model.indexTitle }}></paper-input>
    </div>
    <br />
    {{ model.indexDescription }}
</div>